In [7]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [71]:
for i in range(1,11):
   print(i*i)

1
4
9
16
25
36
49
64
81
100

In [21]:
exp= ["2000","4000","3500","3000"]
total=0
for i in range(len(exp)):
    print('month:',(i+1),'Expense:',exp[i])
    total=total+int(exp[i])

month: 1 Expense: 2000
month: 2 Expense: 4000
month: 3 Expense: 3500
month: 4 Expense: 3000

In [34]:
total=0
price=['300','400','500','200']
for i in range(0,3):
    print(price[i])

300
400
500

In [56]:
total=0
price=['300','400','500','200']
for i in range(len(price)):
    print("item:",i+1,"price:",price[i])
    total=total+int(price[i])
    
    print('total price is:',total)

item: 1 price: 300
total price is: 300
item: 2 price: 400
total price is: 700
item: 3 price: 500
total price is: 1200
item: 4 price: 200
total price is: 1400

In [75]:
key_location="table"
locations=["car","garden","bed","table","balcon"]
for i in locations:
    if i==key_location:
        print("key is found in",i)
        continue
        
    else:
        print("key is not found in",i)

key is not found in car
key is not found in garden
key is not found in bed
key is found in table
key is not found in balcon

In [77]:
key_location="table"
locations=["car","garden","bed","table","balcon"]
for i in locations:
    if i==key_location:
        print("key is found in",i)
        break
    else:
        print("key is not found in",i)

key is not found in car
key is not found in garden
key is not found in bed
key is found in table

In [127]:
for i in range(1,11):
    if i%2==0:
         print(i*i)#only even numbers will be printed
         continue #odd numbers will be skipped

4
16
36
64
100

for i in range(1,11):
    if i%2==0:
     continue
    print(i*i)

In [141]:
for i in range(1,11):
    if i%2==0:
     continue
     print(i*i)#this line is inside the if block,it won't be executed

In [135]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [137]:
for i in range(1,11):
    if i%2==0:
         print(i*i)#only even numbers will be printed
         continue #odd numbers will be skipped

4
16
36
64
100

In [150]:
i=1
while(i<=5):
 print(i)
 i=i+1

1
2
3
4
5