In [9]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
df=pd.read_csv("survey_results_public.csv")

In [11]:
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [13]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [15]:
df.isnull()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

In [21]:
df.dropna(axis=0,inplace=True)#drops all rows with null values and axis=0 means rows
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
32,33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14
41,42,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10
46,47,I am a developer by profession,Yes,53.0,10,Yearly,58000.0,74970.0,United Kingdom,Pound sterling,...,Neither easy nor difficult,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Spring,Flask;Spring,Just as welcome now as I felt last year,40.0,43,28
68,69,I am a developer by profession,Yes,25.0,12,Yearly,550000.0,594539.0,France,European Euro,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask,Just as welcome now as I felt last year,40.0,13,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61613,62863,I am a developer by profession,Yes,30.0,11,Yearly,230000.0,230000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular;Express;React.js,Express;React.js,Just as welcome now as I felt last year,40.0,10,7
61636,62886,I am a developer by profession,Yes,32.0,24,Yearly,102700.0,102700.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular,Angular;Angular.js;ASP.NET Core,Somewhat more welcome now than last year,45.0,7,5
61654,62904,I am a developer by profession,Yes,33.0,24,Yearly,95000.0,95000.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;Laravel;React.js;Vue.js,Just as welcome now as I felt last year,50.0,9,7
61993,63288,I am a developer by profession,No,31.0,16,Yearly,65000.0,84019.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express,Angular;Angular.js;Express,Just as welcome now as I felt last year,40.0,14,7
63517,64938,I am a developer by profession,No,33.0,13,Yearly,55000.0,59454.0,France,European Euro,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask;jQuery;Ruby on Rails,Just as welcome now as I felt last year,40.0,20,12

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4213 entries, 9 to 63517
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    4213 non-null   int64
 1   MainBranch                    4213 non-null   object
 2   Hobbyist                      4213 non-null   object
 3   Age                           4213 non-null   float64
 4   Age1stCode                    4213 non-null   object
 5   CompFreq                      4213 non-null   object
 6   CompTotal                     4213 non-null   float64
 7   ConvertedComp                 4213 non-null   float64
 8   Country                       4213 non-null   object
 9   CurrencyDesc                  4213 non-null   object
 10  CurrencySymbol                4213 non-null   object
 11  DatabaseDesireNextYear        4213 non-null   object
 12  DatabaseWorkedWith            4213 non-null   object
 13  DevType                       4213 non-null   object
 14  EdLevel                       4213 non-null   object
 15  Employment                    4213 non-null   object
 16  Ethnicity                     4213 non-null   object
 17  Gender                        4213 non-null   object
 18  JobFactors                    4213 non-null   object
 19  JobSat                        4213 non-null   object
 20  JobSeek                       4213 non-null   object
 21  LanguageDesireNextYear        4213 non-null   object
 22  LanguageWorkedWith            4213 non-null   object
 23  MiscTechDesireNextYear        4213 non-null   object
 24  MiscTechWorkedWith            4213 non-null   object
 25  NEWCollabToolsDesireNextYear  4213 non-null   object
 26  NEWCollabToolsWorkedWith      4213 non-null   object
 27  NEWDevOps                     4213 non-null   object
 28  NEWDevOpsImpt                 4213 non-null   object
 29  NEWEdImpt                     4213 non-null   object
 30  NEWJobHunt                    4213 non-null   object
 31  NEWJobHuntResearch            4213 non-null   object
 32  NEWLearn                      4213 non-null   object
 33  NEWOffTopic                   4213 non-null   object
 34  NEWOnboardGood                4213 non-null   object
 35  NEWOtherComms                 4213 non-null   object
 36  NEWOvertime                   4213 non-null   object
 37  NEWPurchaseResearch           4213 non-null   object
 38  NEWPurpleLink                 4213 non-null   object
 39  NEWSOSites                    4213 non-null   object
 40  NEWStuck                      4213 non-null   object
 41  OpSys                         4213 non-null   object
 42  OrgSize                       4213 non-null   object
 43  PlatformDesireNextYear        4213 non-null   object
 44  PlatformWorkedWith            4213 non-null   object
 45  PurchaseWhat                  4213 non-null   object
 46  Sexuality                     4213 non-null   object
 47  SOAccount                     4213 non-null   object
 48  SOComm                        4213 non-null   object
 49  SOPartFreq                    4213 non-null   object
 50  SOVisitFreq                   4213 non-null   object
 51  SurveyEase                    4213 non-null   object
 52  SurveyLength                  4213 non-null   object
 53  Trans                         4213 non-null   object
 54  UndergradMajor                4213 non-null   object
 55  WebframeDesireNextYear        4213 non-null   object
 56  WebframeWorkedWith            4213 non-null   object
 57  WelcomeChange                 4213 non-null   object
 58  WorkWeekHrs                   4213 non-null   float64
 59  YearsCode                     4213 non-null   object
 60  YearsCodePro                  4213 non-null   object
dtypes: float64(4), int64(1), object(56)
memory usage: 2.0+ MB

In [ ]:
#df['YearsCode']=df['YearsCode'].astype(float) is for converting an object to a float

In [38]:
df.describe()
#count-number of observations
#mean-average value
#std-how spread out the observations are(low std means most numbers are close to the mean and high std means values are spread out over a wide range)
#min-lowest walue
#max-highest value
#25%,50%,75% are percentiles

         Respondent          Age     CompTotal  ConvertedComp  WorkWeekHrs
count   4213.000000  4213.000000  4.213000e+03   4.213000e+03  4213.000000
mean   27533.329694    32.072158  2.740265e+06   1.116038e+05    41.265523
std    18439.176546     7.482935  4.297804e+07   2.459682e+05    15.344240
min       10.000000    17.000000  0.000000e+00   0.000000e+00     2.000000
25%    12200.000000    26.000000  3.000000e+04   3.037200e+04    40.000000
50%    24863.000000    31.000000  7.200000e+04   6.050500e+04    40.000000
75%    46016.000000    36.000000  1.300000e+05   1.000000e+05    45.000000
max    64938.000000    70.000000  1.900000e+09   2.000000e+06   425.000000

In [46]:
#df.plot(x='WorkWeekHrs',y='Age',kind='line')
#plt.ylim(ymin=0)#value we want the axis to start on
#plt.xlim(xmin=0)
#plt.show()#shows the output